<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<% for (let i = 0; i < items.length; i++) { %>

    <div class="section">
        <a href="/items/<%= items[i].id %>">
            <h2 class="section__title"><%= items[i].title %></h2>
            <img class="section__image" src="img/<%= items[i].image %>">
        </a>
    </div>

<% } %>

<%- include('particles/footer.ejs') %>
